button{
	background-color: #e7e7e7; color: black; /*Grey color for optimal camouflage*/
	position:absolute;
    text-align: center;
}

#congrats{	
	left:500px;
	top:500px;
	display:none;
    background: #49fb35;
	border-radius: 25px;
	padding: 50px; 
}
#border{
	left:500px;
	top:500px;
	display:none;
    background: #FF0000;
	border-radius: 30px;
	padding: 50px;
	z-index: -1;

}
